<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicClassicBean"
          class="by.pak.spring2021.ClassicalMusic"
          scope="prototype"
          init-method="initMethod"
          destroy-method="destroyMethod">
    </bean>

    <bean id="musicPopBean"
          class="by.pak.spring2021.PopMusic">
    </bean>
    <bean id="musicRockBean"
          class="by.pak.spring2021.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="by.pak.spring2021.MusicPlayer">

        <property name="musicList"  >
            <list>
                <ref bean="musicClassicBean"/>
                <ref bean="musicPopBean"/>
                <ref bean="musicRockBean"/>
            </list>
        </property>

<!--        <property name="name" value="${musicPlayer.name}" />-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
    </bean>

</beans>